@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden; /* Esto ocultará cualquier contenido que se desborde horizontalmente */
}

.contenedor {
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.titulo {
    color: #642a73;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}

/* Header */
header {
    width: 100%;
    height: 600px;
    background-image: url("../img/1.jpg"); /* URL corregida */
    background-size: cover; /* Asegura que la imagen cubra todo el área del header */
    background-position: center; /* Centra la imagen dentro del header */
    background-attachment: fixed; /* Fija la imagen mientras se desplaza la página */
    position: relative;
}

nav {
    text-align: right;
    padding: 30px 50px 0 0;
}

nav > a {
    color: #fff;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
}

nav > a:hover {
    text-decoration: underline;
}


header .textos-header {
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.textos-header h1 {
    font-size: 100px;
    color: #fff;
}

.textos-header h2 {
    font-size: 30px;
    font-weight: 300;
    color: #fff;
}

.wave {
    position: absolute;
    bottom: 0;
    width: 100%;
}



/* ------------------------------------------Sobre FilmCast------------------------------------------ */
.contenedor-sobre-filmcast {
    display: flex; /* Usar flexbox para alinear elementos en línea */
    justify-content: space-evenly; /* Espacio entre elementos */
}

.contenedor-sobre-filmcast img {
    width: 42%; /* Ajustar al ancho deseado, puedes cambiarlo */
    border-radius: 50%;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    margin: 20px;
}

.contenedor-sobre-filmcast .contenido-textos {
    width: 38%; /* Opcional: limita el ancho del texto */
}

.contenido-textos h3 {
    margin-bottom: 15px;
    font-size: 25px;
}

.contenido-textos h3 span {
    background: #851f1f;    
    color: #fff;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 40px;
    height: 40px;
    padding: 2px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    margin-right: 5px;
}

.contenido-textos p {
    font-size: 20px;   
    padding: 0px 0px 30px 15px;
    font-weight: 300;
    text-align: justify;
}

.contenido-textos {
    margin-top: 90px; /* Agrega margen superior al contenedor de los textos */
}

.contenedor-sobre-filmcast .titulo {
    position: absolute;
    top: 520px; /* Ajusta la distancia desde la parte superior */
    left: 1022px; /* Ajusta la distancia desde el lado izquierdo */
    font-size: 30px;
    font-weight: bold;
    color: #000000;
}

.contenedor-sobre-filmcast .subtitulo {
    position: absolute;
    top: 530px; /* Ajusta la distancia desde la parte superior */
    left: 400px; /* Ajusta la distancia desde el lado izquierdo */
    font-size: 35px;
    font-weight: bold;
    color: #000000;
    text-align: center; /* Centrar el texto dentro del elemento */
    width: 100%; /* Asegúrate de tener suficiente ancho para centrarlo */
}

h3 {
    margin: 40px 0; /* Margen superior e inferior para separar títulos */

}

/*--------------------------Como Funciona-----------------------*/
.Como-Funciona {
    background: #f2f2f2;
}

.galeria-como {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.imagen-como {
    width: 24%;
    margin-bottom: 10px;
    height: 200px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
}

.imagen-como > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.imagen-como > .hover-galeria {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background: hsla(273, 91%, 27%, 0.7);
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.imagen-como > .hover-galeria > img {
    width: 50px;
}

.imagen-como > .hover-galeria > p {
    color: #fff;
}

.imagen-como:hover > .hover-galeria {
    transform: scale(1);
}

.Como-Funciona .titulo {
    position: center; /* Ajusta la distancia desde el lado izquierdo */
    font-size: 30px;
    font-weight: bold;
    color: #000000;
}

/*--------------------------cliente contenedor-----------------------*/
.cards {
    display: flex;
    justify-content: space-evenly;
}

.cards .card {
    background: rgb(98, 96, 96);
    display: flex;
    width: 23%;
    height: 200px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .6);
}

.cards .card > img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 3px solid #fff;
    border-radius: 50%;
    display: block;
}

.cards .card > .contenido-texto-card {
    width: 60%;
    color: #fff;
}

.cards .card > .contenido-texto-card p {
    font-weight: 300;
    padding-top: 10px;
}

.cliente-contenedor{
    background: #000000;
    padding: 60px 0;
    overflow: hidden;
}

.cliente-contenedor .titulo {
    position: center; /* Ajusta la distancia desde el lado izquierdo */
    font-size: 30px;
    font-weight: bold;
    color: #ffffff;
    margin-top: 20px;
}


/*--------------------------Contacto-----------------------*/
.contactanos .contenedor {
    background: #ffffff;
    padding-bottom: 30px;
    margin-left:80px;
}

.contactanos .contacto-cont {
    display: flex;
    justify-content: space-between; /* Mantén el espacio entre el texto e imagen */
    align-items: center;
    flex-direction: row; /* Asegura que la imagen esté en la derecha */
     /* Puedes aumentar el padding para empujar la imagen más a la derecha */
}

.contactanos .contacto-ind {
    width: 50%; 
    display: flex;
    justify-content: flex-end; 
    margin-right: -100px; 

}

.contactanos .contacto-ind img {
    width: 50%; 
    height: 50%;
    object-fit: cover; /* Asegura que la imagen cubra todo el contenedor */
    border: 3px solid #fff; /* Agrega borde alrededor de la imagen */
    border-radius: 2%; /* Redondea las esquinas de la imagen */
    
}

.contactanos .contenedor-formulario {
    width: 50%; /* Make sure the text container takes up less space */
    align-items: center;
}


.contactanos .contenedor-formulario h3 {
    font-size: 25px;
}

.contactanos .contenedor-formulario p {
    font-size: 20px;
    font-weight: 300;
    text-align: justify;
}

.contactanos .titulo    {
    position: center; /* Ajusta la distancia desde el lado izquierdo */
    font-size: 30px;
    font-weight: bold;
    color: #000000;
    margin-top: 20px;
}

/*--------------------------Footer-----------------------*/
footer {
    background: #000000;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}

.contenedor-footer {
    display: flex;
    width: 90%; /* Ajusta el ancho deseado */
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;
}

.contenedor-footer {
    text-align: center;
}

.contenedor-footer h4 {   
    color: #ffffff;
    border-bottom: 3px solid #ffffff;
    padding-bottom: 5px;
    margin-bottom: 10px;    
}

.contenedor-footer p {
    color: #ffffff;
}

.titulo-final {
    color: #ffffff;
    text-align: center;
    font-size: 28px;
    margin: 20px 0 0 0;
}

.content-fot img {
    object-fit: cover;
    border-radius: 15px; /* Ajusta el valor según el nivel de redondeo que desees */
    transition: transform 0.3s; /* Efecto de transición al pasar el mouse */
}

.content-fot img:hover {
    transform: scale(1.05); /* Aumenta ligeramente el tamaño de la imagen al pasar el mouse */
}
