<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FilmCast</title>
    <link rel="stylesheet" href="../static/stylemenu.css"> 
    <link rel="stylesheet" href="../static/estiloperfil.css"> 
    <link rel="stylesheet" type="text/css" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/14.6.3/nouislider.min.css">
    <link rel="stylesheet" href="../static/formulario.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">


    <script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/14.6.3/nouislider.min.js"></script>
</head>
<body>
    <header>
        <div class="container-hero">
            <div class="container hero">
                <div class="customer-support">
                    <i class="fa-solid fa-headset"></i>
                    <div class="content-customer-support">
                        <span class="text">Soporte al cliente</span>
                        <span class="number">123-456-7890</span>
                    </div>
                </div>

                <div class="container-logo">
                    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAAXNSR0IArs4c6QAAAflJREFUSEvN1s+rTVEUB/DPE8mPATL15NfAj6EyITPzR4hEyUDhX/CrjIxEzEw88jv/gYSRmcRAEVNlJAaIs27rvHa32+nc63j3rsleZ5+11nd/19577TVlTDI1JlwTBbwW6zrOxEd8KmOWjBfgDg52DFqHu4Vj+BMTJfBh3P5PoHXYGTzpBz5bLeRCWhzHzdQ/50rjcxHuYSV+4xC+pN157C70ZwWJp6mfw8V+4JgM53r+Bk7m9ylcTz224m7qj7Ev9Tgb77Ak93MbvuW/XnqTWA+jTHVMBHg9vxxvEAF/VEw3FwfkEfam7QE8SP00rqYeC40FhwwFHA478TydX2BX6qvwHjF+rc7Gphzjd9iHX0jYh9/QwOHcJuXBOJiH9Kc8MvW9barLg7EM29MxArxKvWYU1zDkJX6lvhWrU3+LLW2Bi9idqnFrGg9Xp2hFsMkCLu9xE+Mr+IkzWDxkaiLNvSJV3uO2wLXzmqqSXcKRvjhNa/mnVM85J0JUqGtFuZw34BpoT9bxFQ3InTIOnB3VwxF7H+O8MN6Ay4jnro0MZDzM4YoHIJ63E1jYBrGLyvUaG7F0CMDadCDjshEYIWYrl4GNQPnAt4oygtF+POwvIPHK3C86ihHiNrrM4uigZq/2Wl/1W9Mdo35A9G5zMlENfcdkB4cbG+O/Au1uHz3+eYkAAAAASUVORK5CYII="/>
                    <h1 class="logo"><a href="/">FilmCast</a></h1>
                </div>

                <div class="container-user"> 
                    <a href="{{ url_for('perfil') }}">
                        <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAAXNSR0IArs4c6QAAAb1JREFUSEvN1k3ITUEYB/DfK18lJcmOhCyUKCs7lGJhQcpGoXyUlJ0US5LsUD42rFCilLKwYMVCCYWVfKWUkgUbCTN1jt6ue95nzts5XbOd5/x/M819Zu6YEY2xEbkmA0/BNiyvFv0SN/C7zSbawmtwBcsGkFfYiceleBt4Pe5iekP4d2zAoxK8FJ6F95gbhH7AUvyI8FJ4Ly5FYdV8Pv+bUW0pfAH7o7Bq/jQOR7Wl8EXsi8Kq+fM4ENWWwkdxPAqr5o/gVFRbCueefRGFVb28JLXWm6i2FM45l7ErCDyDQxGa59vAM6obanNDcF7YHvzqGq4XugNbxvX0J1zD7RKwrmmz4za5Ye1/Dy/A1nQjrUiPxKLUWlMHtvQz/fDepiN4hlv4GG052vFKnMSmKGhg/k51e+VXa+iYCM431TlMa4nW5fmh2J2e0KvDvm+Ct+P6JMHxn+XW2oh7g1nD4Plppe8wswM4R3zBQuT3+u8YBp/FwY7QOuZYOrITEfw5ne28juEnWD0RvBivO0bruNn41nRz5T9zD3uCc2s+b4LX4n5P8Do8aILnYFVP8FN8bYJ7Mv+Nja7M3hYyMvgPElg8H/XErXYAAAAASUVORK5CYII=" />
                    </a>
                
                    <a href="{{ url_for('mensajes') }}">
                        <i class='bx bxs-chat'></i>
                        <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAAXNSR0IArs4c6QAAAUdJREFUSEvt1sEqBXEUx/HPXVEsrC1ENvZSduwsbSQrNoqsvAEeAqU8AF6AN7BQsmRB3kBKKMX9153bGHPvTP1n7mzMZmrmf873/M/5/f/ntDT0tBriKgMewQqmIoJ8wjneEx9F4DHcYDoCmpjeYxZv4UMReAeHFUATF5s4LQOOYQ5jCUcY7zg6aL/36wYnQQf4ZRG4DiEN4aMfuDYh4bsfuDYhFYFD0fdi1JSx7QrpH5w9Tv+pjtVZnri22rfYyaBT/YA5vA4SvI6LXm2xTnH9KVu6LTYG3sZxrKJS9l0h5flM7zg0iVtMVgD/JaQicPg/ilVMdBYvYiHH8BpXPQJ8zAqpDDi7Jq/uYRTaxVdMZopmrjT4Exs4iwEmtmXBz+36L+OuCmiZmSvseB5r7fS+VAUtA55BmIeT0aUydlGqKwNlHTUG/gHwKlYfkJWuMAAAAABJRU5ErkJggg=="/>
                        <span class="text">Mensajes</span>
                        <span class="number">(0)</span>
                    </a>
                </div>
            </div>
        </div>

        <div class="container-navbar">
            <nav class="navbar container">
                <i class="fa-solid fa-bars"></i>
                <ul class="menu">
                    <li><a href="{{ url_for('menu') }}">Inicio</a></li>
                    <li><a href="{{ url_for('busqueda_filtro') }}">Buscar</a></li>
                    <li><a href="{{ url_for('misproyectos') }}">Mis Proyectos</a></li>
                    <li><a href="#">Más</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <form action="/consulta_actor" method="POST">  
        <h2>Escoge tus Preferencias</h2>
    
        <h3>Age</h3>
        <select name="range_0" id="range_0" required>
            <option value="18-80">Todos</option>
            <option value="18-22">18-22</option>
            <option value="23-29">23-29</option>
            <option value="30-36">30-36</option>
            <option value="37-43">37-43</option>
            <option value="44-50">44-50</option>
            <option value="51-57">51-57</option>
            <option value="58-64">58-64</option>
            <option value="65-71">65-71</option>
            <option value="72-80">72-80</option>
        </select>
        <select id="weight_0" name="weight_0" required>
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
        </select>
        
        <h3>Years Active</h3>
        <select name="range_1" id="range_1" required>
            <option value="0-40">Todos</option>
            <option value="0-5">1-5</option>
            <option value="6-10">6-10</option>
            <option value="11-15">11-15</option>
            <option value="16-20">16-20</option>
            <option value="21-25">21-25</option>
            <option value="26-30">26-30</option>
        </select>
        <select id="weight_1" name="weight_1" required>
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
        </select>
    
        <h3>Beauty</h3>
        <select name="range_2" id="range_2" required>
            <option value="0-20">Todos</option>
            <option value="0-3">0-3</option>
            <option value="4-6">4-6</option>
            <option value="7-9">7-9</option>
            <option value="10-12">10-12</option>
            <option value="13-16">13-16</option>
        </select>
        <select id="weight_2" name="weight_2" required>
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
        </select>
    
        <h3>Skill Level</h3>
        <select name="range_3" id="range_3" required>
            <option value="0-20">Todos</option>
            <option value="0-3">0-3</option>
            <option value="4-6">4-6</option>
            <option value="7-9">7-9</option>
            <option value="10-12">10-12</option>
            <option value="13-16">13-16</option>
        </select>
        <select id="weight_3" name="weight_3" required>
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
        </select>
    
        <h3>Award Wins</h3>
        <select name="range_4" id="range_4" required>
            <option value="0-20">Todos</option>
            <option value="0-3">0-3</option>
            <option value="4-6">4-6</option>
            <option value="7-9">7-9</option>
            <option value="10-13">10-12</option>
            <option value="14-18">13-18</option> 
        </select>
        <select id="weight_4" name="weight_4" required>
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
        </select>
    
        <h3>Media Mentions</h3>
        <select name="range_5" id="range_5" required>
            <option value="0-20">Todos</option>
            <option value="0-9">0-9</option>
            <option value="10-19">10-19</option>
            <option value="20-39">20-39</option>
            <option value="40-59">40-59</option>
            <option value="60-70">60-70</option>
        </select>
            <select id="weight_5" name="weight_5" required>
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
        </select>
    
        <h3>Social Media Followers</h3>
        <select name="range_6" id="range_6" required>
            <option value="0-50000">Todos</option>
            <option value="0-1000">0-1,000</option>
            <option value="1001-5000">1,001-5,000</option>
            <option value="5001-10000">5,001-10,000</option>
            <option value="10001-20000">10,001-20,000</option>
            <option value="20001-50000">20,001-50,000</option>
        </select>
        <select id="weight_6" name="weight_6" required>
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
        </select>
    
        <h3>Social Media Likes</h3>
        <select name="range_7" id="range_7" required>
            <option value="0-20000">Todos</option>
            <option value="0-500">0-500</option>
            <option value="501-1000">501-1,000</option>
            <option value="1001-5000">1,001-5,000</option>
            <option value="5001-10000">5,001-10,000</option>
        </select>
        <select id="weight_7" name="weight_7" required>
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
        </select>
    
        <h3>Network Size</h3>
        <select name="range_8" id="range_8" required>
            <option value="0-80">Todos</option>
            <option value="1-5">1-5</option>
            <option value="6-10">6-10</option>
            <option value="11-20">11-20</option>
            <option value="21-40">21-40</option>
            <option value="41-50">41-50</option>
        </select>

        <select id="weight_8" name="weight_8" required>
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
        </select>
    
        <h3>Income</h3>
        <select name="range_9" id="range_9" required>
            <option value="0-2000000">Todos</option>
            <option value="0-400000">0-400,000</option>
            <option value="400001-500000">400,001-700,000</option>
            <option value="700001-1000000">700,001-1,000,000</option>
            <option value="1000001-2000000">1,000,001-2,000,000</option>
        </select>
        <select id="weight_9" name="weight_9" required>
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
        </select>
    
        <button type="submit" class="btn-Consultar">Consultar</button>
    </form>
        
    

    <script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/14.6.3/nouislider.min.js"></script>
    <script>
    document.addEventListener('DOMContentLoaded', function () {
        for (let i = 0; i < 10; i++) {
            const slider = document.getElementById(`slider_${i}`);
            const minDisplay = document.getElementById(`range_${i}_min`);
            const maxDisplay = document.getElementById(`range_${i}_max`);
            const minInput = document.getElementById(`input_range_${i}_min`);
            const maxInput = document.getElementById(`input_range_${i}_max`);

            noUiSlider.create(slider, {
                start: [0, 100], // Valores iniciales
                connect: true,
                range: {
                    'min': 0,
                    'max': 100
                }
            });

            slider.noUiSlider.on('update', function (values, handle) {
                if (handle === 0) {
                    minDisplay.innerHTML = Math.round(values[0]);
                    minInput.value = Math.round(values[0]);
                } else {
                    maxDisplay.innerHTML = Math.round(values[1]);
                    maxInput.value = Math.round(values[1]);
                }
            });
        }
    });
    </script>
</body>
</html>



