<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<title>FilmCast</title>
        <link rel="stylesheet" href="../static/stylemenu.css"> 
	</head>
	<body>
		<header>
			<div class="container-hero">
				<div class="container hero">
					<div class="customer-support">
						<i class="fa-solid fa-headset"></i>
						<div class="content-customer-support">
							<span class="text">Soporte al cliente</span>
							<span class="number">123-456-7890</span>
						</div>
					</div>

					<div class="container-logo">
						<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAAXNSR0IArs4c6QAAAflJREFUSEvN1s+rTVEUB/DPE8mPATL15NfAj6EyITPzR4hEyUDhX/CrjIxEzEw88jv/gYSRmcRAEVNlJAaIs27rvHa32+nc63j3rsleZ5+11nd/19577TVlTDI1JlwTBbwW6zrOxEd8KmOWjBfgDg52DFqHu4Vj+BMTJfBh3P5PoHXYGTzpBz5bLeRCWhzHzdQ/50rjcxHuYSV+4xC+pN157C70ZwWJp6mfw8V+4JgM53r+Bk7m9ylcTz224m7qj7Ev9Tgb77Ak93MbvuW/XnqTWA+jTHVMBHg9vxxvEAF/VEw3FwfkEfam7QE8SP00rqYeC40FhwwFHA478TydX2BX6qvwHjF+rc7Gphzjd9iHX0jYh9/QwOHcJuXBOJiH9Kc8MvW9barLg7EM29MxArxKvWYU1zDkJX6lvhWrU3+LLW2Bi9idqnFrGg9Xp2hFsMkCLu9xE+Mr+IkzWDxkaiLNvSJV3uO2wLXzmqqSXcKRvjhNa/mnVM85J0JUqGtFuZw34BpoT9bxFQ3InTIOnB3VwxF7H+O8MN6Ay4jnro0MZDzM4YoHIJ63E1jYBrGLyvUaG7F0CMDadCDjshEYIWYrl4GNQPnAt4oygtF+POwvIPHK3C86ihHiNrrM4uigZq/2Wl/1W9Mdo35A9G5zMlENfcdkB4cbG+O/Au1uHz3+eYkAAAAASUVORK5CYII="/>
						<h1 class="logo"><a href="/">FilmCast</a></h1>
					</div>

					<div class="container-user"> 
						<a href="{{ url_for('perfil') }}">
							<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAAXNSR0IArs4c6QAAAb1JREFUSEvN1k3ITUEYB/DfK18lJcmOhCyUKCs7lGJhQcpGoXyUlJ0US5LsUD42rFCilLKwYMVCCYWVfKWUkgUbCTN1jt6ue95nzts5XbOd5/x/M819Zu6YEY2xEbkmA0/BNiyvFv0SN/C7zSbawmtwBcsGkFfYiceleBt4Pe5iekP4d2zAoxK8FJ6F95gbhH7AUvyI8FJ4Ly5FYdV8Pv+bUW0pfAH7o7Bq/jQOR7Wl8EXsi8Kq+fM4ENWWwkdxPAqr5o/gVFRbCueefRGFVb28JLXWm6i2FM45l7ErCDyDQxGa59vAM6obanNDcF7YHvzqGq4XugNbxvX0J1zD7RKwrmmz4za5Ye1/Dy/A1nQjrUiPxKLUWlMHtvQz/fDepiN4hlv4GG052vFKnMSmKGhg/k51e+VXa+iYCM431TlMa4nW5fmh2J2e0KvDvm+Ct+P6JMHxn+XW2oh7g1nD4Plppe8wswM4R3zBQuT3+u8YBp/FwY7QOuZYOrITEfw5ne28juEnWD0RvBivO0bruNn41nRz5T9zD3uCc2s+b4LX4n5P8Do8aILnYFVP8FN8bYJ7Mv+Nja7M3hYyMvgPElg8H/XErXYAAAAASUVORK5CYII=" />
						</a>
					
						
					</div>					
				</div>
			</div>

			<div class="container-navbar">
				<nav class="navbar container">
					<i class="fa-solid fa-bars"></i>
					<ul class="menu">
						<li><a href="{{ url_for('menu') }}">Inicio</a></li>
						<li><a href="{{ url_for('busqueda_filtro') }}">Buscar</a></li>
						<li><a href="{{ url_for('misproyectos') }}">Mis Proyectos</a></li>
						<li><a href="{{ url_for('misfavoritos') }}">Mis Favoritos</a></li>
					</ul>
				</nav>
			</div>
		</header>

		<section class="banner">
			<div class="content-banner">
				<p>Descubre a tus Actores Favoritos</p>
                <h2>Conecta con actores<br />Películas Frescas</h2>
				<a href="{{ url_for('busqueda_filtro') }}">Explorar Ahora</a>
			</div>
		</section>

		<main class="main-content">
			<section class="container container-features">
				<div class="card-feature">
					<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAAXNSR0IArs4c6QAAAkNJREFUSEvF1knITlEcx/HPi5AFsqNkypQFWZBhg4WsRLFCbEhsjAs7KRaGjSgpmVYiS5IQKSJDCUWIbBBLSYb7r/vUfW93OM/7Lt7/5um55/c/3/M/w++cHgMUPQPE1RfwBMzFRPzDBzzBx26KSAWHbgt2YmoN4DWO4Ew+oMZxpIDH4SrmJVZ0D6vxrUnfBp6GOxibCO3IPmER4rcymsAj8QyTuoR25E+xAL+q8pvA57G+BnoXt/O2ZVhcozuGXd2A5+NBRcIrrMWLUttsXMGU0ve/mIE35b7qKo6R7iiJv+TH6HNNdbEkMb2jSu178t3e63MdOCqaVepgY7be51rWezcOlzQ3sDy14h8YXRKPQXxviumI81yM95icCv6NISVx/P/TAh6OnyVN/B+RCn5XcYzCKttsMdY5covxtsrt6tb4JuKYFGMbTrZUHJZ6tKS5jhWpFR/PLG97SfwdcxrcKDz8McJ4ihGbbW8qOHz5YUV1sXHWVJzj0F/G+IqcmRUbrvFafIlIqopb2VLEZRCxMp+JKl34/JKqhibL3JBwbluW3NKCtfbStt1O97Gwrfea9gvZDo/BV0YbOAzhOYZ1Cf+KyK01nDZw8Dblr4pUdphP3MWPmhJSwJF/CpsTyXGVXmzTpoLDLi9l076qpcND2NcGjfZUcGgHZy/Ls1hX0/HpLmalK3BnoCewtQCPy/5AVsT+lNdlJ6+biouFhp0exKDcya6lTG9R01dw9BEv0KEV9pk0hv6AkwB9NZB+dd6U/B9sMVkf9PcpxwAAAABJRU5ErkJggg=="/>
					<div class="feature-content">
						<span>Comunicate con actores cercanos</span>
						<p>Escoge la ubicacion y explora</p>
					</div>
				</div>
				<div class="card-feature">
					<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAAXNSR0IArs4c6QAAAaFJREFUSEvFl88rBVEUxz9P+bUTVpKsFWWjRKz8B8pKNhZixdYCZc9OskGyY8XGxkLZWUiSrBQlv4p/gHvqTo1p7tx75s2YU1PvzZt7Pud77jln7qtRkdUq4pIFHgHGgOaCgvsE9oAv8ecCrwIrBQHjbuaBrSzwO9BRAnjN+BRRTsU/JUDFZSHgY+AEeAMGgSWgzRNw3eBFA9lMQDqBa6ArA54K7gXkEjvPWHwDDDh+nwb2teDQSpaqlOpMM1H7XBZ4G5hzOG8HPrTg0FTfAv2mz9Mqfxi41ILjz/vaSSp4IwFoBc6AUS04VHHk9wg4NWl/sRlYAHrytFNocdUzW1LbqTJwaKrvgEPgCpDPMtf7bLrHzb0poMmRllyT69uMR9nHA0+uZZ9liEgQSVNPrlf7br4P3OAGMwV3AZlkcVPv8aRJpVSxxlqAB6A7tkgFfrJt4uvttKCWgXUf2FVcFzbNGrXRsxN2qETfVcX1aPcrD1jEzPgUa0ZmniBkjUpxXkjaOi+4ssPeDjBbpFTry3u8bbSVPPTfB/oSxP51Wdl/p19hb10fnjDZeQAAAABJRU5ErkJggg=="/>
					<div class="feature-content">
						<span>Recomendaciones del dia</span>
						<p>Actores seleccionados especialmente para ti</p>
					</div>
				</div>
				<div class="card-feature">
					<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAAXNSR0IArs4c6QAAAalJREFUSEvN1jFIVVEcx/HPw8UhVJwMh1pKNwWngsigOWgIhAhcHJzcFISWxoiGlggaUhpycWmIhtAlEqrBQQRdHERHxaGlqO6R++J1ufd63nv38d6ZLpf/+X3////53f89NV1atS5xxYCvYjZN8E3yfFCQbGzc+fYY8DQ2UtgdbBaAY+N6D3wLzzEV2ZEym/zBNyzgS2NgttWDOMSlik13ilH8qOtmwTfxuWJoXe4GtorAjQbZRsi0nTWEiTxjZituypkRGRXq9SS4a62O6GRTIf8Nn7JWN6UaEVwZeAfDuBwBDSGl4Nslszir/yiFPq0C3Gj/Mr0jXEE/jiMnXcutPsEe9vEWH9PMHuA+ruNaMucHCjJuGfwsmbWLCIM/b/VhJUnsYdXgoPcO4Wx/ZcRDy9/jbsn5tFxxXXMOrzOAx3hygcnaBoeqPmUgoQurnQaP4CeWcJZ8yy9SU33vJDj8yF9hPv2UAiu4/SWWOwmOnBW5YaVnPI7ddtRL9o6lc+A8JO96u54OhCr5a5hpFMwDh3f3MFnBLfM3vuJDtoqYC32Vlf/T6hr4L4FqYR/btSTyAAAAAElFTkSuQmCC"/>
					<div class="feature-content">
						<span>Favoritos del Público</span>
                        <p>Explora actores y proyectos más votados por los usuarios</p>
					</div>
				</div>
				<div class="card-feature">
					<i class="fa-solid fa-headset"></i>
					<div class="feature-content">
						<span>Servicio al cliente 24/7</span>
						<p>LLámenos 24/7 al 123-456-7890</p>
					</div>
				</div>
			</section>

			<section class="container top-actores">
				<h1 class="heading-1">Recomendaciones del día</h1>
			
				<div class="container-actores">
					{% if actors %}
						{% for actor in actors %}
							<a href="{{ url_for('info_actor', actor_id=actor['id']) }}" class="card-actor"> <!-- Enlace al info_actor -->
								<div class="container-img">
									<img src="https://i.pinimg.com/564x/88/3d/74/883d74b5eca63acc4e07773f3a645ba6.jpg" alt="{{ actor[1] }}" />
									<div class="button-group">
										<span>
											<i class="fa-regular fa-eye"></i>
										</span>
										<span>
											<i class="fa-regular fa-heart"></i>
										</span>
										<span>
											<i class="fa-solid fa-code-compare"></i>
										</span>
									</div>
								</div>
								<div class="recomen">
									<h1>{{ actor['name'] }}</h1>  <!-- Nombre -->
									<h2>{{ actor['gender'] }}</h2>  <!-- Género -->
									<h3>{{ actor['genre_specialization'] }}</h3>  <!-- Género de especialización -->
								</div>
							</a>
						{% endfor %}
					{% else %}
						<p>No hay actores destacados disponibles en este momento.</p>
					{% endif %}
				</div>                
			</section>
			
		</main>

		<footer class="footer">
			<div class="container container-footer">
				<div class="menu-footer">
					<div class="contact-info">
						<p class="title-footer">Información de Contacto</p>
						<ul>
							<li>Tel: +51 999 999 999</li>
							<li>Email: FilmCast@gmail.com</li>
							<li>Cra. 4 #22-61, Bogotá</li>
						</ul>
						<div class="social-icons">
							<span class="facebook">
								<i class="fa-brands fa-facebook-f"></i>
							</span>
							<span class="twitter">
								<i class="fa-brands fa-twitter"></i>
							</span>
							<span class="youtube">
								<i class="fa-brands fa-youtube"></i>
							</span>
							<span class="pinterest">
								<i class="fa-brands fa-pinterest-p"></i>
							</span>
							<span class="instagram">
								<i class="fa-brands fa-instagram"></i>
							</span>
						</div>
					</div>

					<div class="information">
						<p class="title-footer">Información</p>
						<ul>
							<li><a href="#">Politicas de Privacidad</a></li>
							<li><a href="#">Términos y condiciones</a></li>
							<li><a href="#">Contactános</a></li>
						</ul>
					</div>

					<div class="my-account">
						<p class="title-footer">Mi cuenta</p>

						<ul>
							<li><a href="#">Mi cuenta</a></li>
							<li><a href="#">Historial</a></li>
							<li><a href="#">Lista de proyectos</a></li>
						</ul>
					</div>

					<div class="newsletter">
						<p class="title-footer">¿Tienes problemas o preguntas?</p>

						<div class="content">
							<p>
								Si tienes alguna dificultad o necesitas ayuda con nuestro servicio, no dudes en contactarnos. Nuestro equipo está aquí para asistirte. 
							</p>
							<input type="text" placeholder="Ingresa la inconformidad aqui...">
							<button>Enviar</button>
						</div>
					</div>
				</div>

				<div class="copyright">
					<p>
						&copy; FilmCast | Mineria de datos 
					</p>
                    
				</div>
			</div>
		</footer>
		<script
			src="https://kit.fontawesome.com/81581fb069.js"
			crossorigin="anonymous"
		></script>
	</body>
</html>