<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FilmCast"
        tools:targetApi="31">
        <activity
            android:name=".ui.login.proyectos"
            android:exported="false" />
        <activity
            android:name=".ui.login.Crea_proyecto"
            android:exported="false" />
        <activity
            android:name=".ui.login.EditarPerfil"
            android:exported="false" />
        <activity
            android:name=".ui.login.RegistroActivity"
            android:exported="false"
            android:theme="@style/Theme.FilmCast" />
        <activity
            android:name=".ui.login.ActorActivity"
            android:exported="false"
            android:theme="@style/Base.Theme.FilmCast" />
        <activity
            android:name=".ui.login.menuActivity"
            android:exported="false"
            android:theme="@style/Theme.FilmCast" />
        <activity
            android:name=".ui.login.ActivityBuscar"
            android:exported="false"
            android:theme="@style/Theme.FilmCast" />
        <activity
            android:name=".ui.login.GuardadosActivity"
            android:exported="false"
            android:theme="@style/Theme.FilmCast" />
        <activity
            android:name=".ui.login.PerfilActivity"
            android:exported="false"
            android:theme="@style/Theme.FilmCast" />
        <activity
            android:name=".ui.login.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>